html{
    color: darkslategrey;
    font-family: arial, sans-serif;
    font-size: 17px;
}
h1{
    font-size: 30px;
    text-align: center;
    color: darkblue;
}
h2{
    font-size: 24px;
    background-color: lightskyblue;
    color: darkblue;
}
a, a:visited{
    color: darkblue;
    text-decoration-line: none;
}
a:hover{
    text-decoration:underline;
    cursor: pointer;
        
}
h1 a, h1 a:visited{
    color: white
}
h2 a, h2 a:visited{
    color: lightskyblue
}
h1:hover a, h2:hover a{
    color:darkblue
}
#footer{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
