/*CSS EXTERNO */
li{
    list-style-type: square;
    color: purple
}
h1,h2 {
    /*color: blue;
    rgb: (0,0,0)
    rgba: (0,0,0,0)
    color: rgba(0,140,0,1)*/
    color: #8e1b15
}
/*ID*/  #nome {
    color:orangered
}

/*CLASS*/.titulo-secao{
    font-weight: bold;
    font-size: 16pt;
}
#idade{
    color:green
}
section p{
    font-style: italic;
}
