@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@Import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  color: darkslategrey;
  font-family: arial, sans-serif;
  
}

.text-center {
  text-align: center;
}

#copyright {
  font-weight: bold;
  font-style: italic;
}

#social {
  text-align: center;
  font-size: 2rem;

}
.fa-square-facebook{
  color: navy;
  }
  
.fa-square-twitter{
  color: dodgerblue;
  }
  
.fa-linkedin{
  color: navy;
  }

h1 {
  font-family: 'Audiowide', cursive;
  font-size:30px;
}

h2 {
  font-size:24px;
  background-color: lightskyblue;
  border-radius: 5px;
}

h1, h2, a, a:visited {
  color: darkblue;
}

a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 a, h1 a:visited {
  color: white;
}
h2 a, h2 a:visited {
  color: lightskyblue;
}
h1:hover a, h2:hover a {
  color: darkblue;
}

.material-icons, p{
  line-height: 1.5rem;
  
}
.material-icons{
  font-size: 1rem;
}

.btn{
  font-size: 1.3rem;
 
}
.btn:hover{
  color: white;
  background-color: darkblue;
  text-decoration-line: none;
  
}
@media print{
  body, h1{
    color: black;
    font-family: Times, serif; 
    }
  h1#elon{
    text-align: left;
  }
  h2{
    background-color: unset;
  }
  a.topo, h2 a{
    color: white;
  }
}